body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display: flex;
}
main .ShopContent{
    display: flex;
    flex-direction: column;
}
main .ShopContent .topbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 1rem 2rem 1rem 2rem;
}
main .ShopContent .topbar .sortBy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main .ShopContent .topbar .sortBy h4{
    margin: 1rem;
    font-size: 1rem;
}
main .ShopContent .topbar .sortBy .sortByList{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
    list-style-type: none;
}
main .ShopContent .productContainer{
    width: 90%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
aside{
    grid-area: aside;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:end;
}
aside .asideContent{
    width: 80%;
    padding: 7rem;
    background-color: yellow;
}
footer{
    grid-area: footer;
}