main{
    min-height: 100vh;
    margin: 0 auto;
}
.tableTittle{
    text-align: center;
    margin: 2rem;
}
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}