* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cajas {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.linkCaja {
  text-decoration: none;
  color: black;
}
.caja {
  background-color: red;
  min-width: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.imagen,
.cajaTitulo,
.precio {
  margin-top: 0.7rem;
}
.cajaTitulo {
  text-align: center;
}
.precio {
  color: lightgreen;
  text-align: center;
}

/* No se como funciona */
.bordeCaja {
  background-image: linear-gradient(
    rgba(27, 25, 46, 0.3) 40%,
    rgba(27, 25, 46, 0)
  );
  background-color: linear;
}
.linkCaja:hover .bordeCaja {
  opacity: 1;
}
/* Esto se supone que hace un efecto guapo */

.conveyor {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  /* gap: 0.4rem; */
  background-color: grey;
  position: relative;
  /* margin-left: -1   px;
  transition: all 6s cubic-bezier(0, 0.11, 0.33, 1) 0s  ; */
}
.linea {
  min-height: 100%;
  width: 0.2em;
  background-color: red;
  position: absolute;
  right: 50%;
  z-index: 2;
}
.izq {
  animation: run 125ms linear infinite;
}
.imgCase {
  padding: 0.4rem;
  z-index: 1;
  display: block;
  position: relative;
}
.izqParar {
  animation: frenar 200ms linear infinite;
}
.pausa {
  animation: stop 1.5s ease-in-out;
}
.canvas{
  background-color: rgb(197, 138, 9);
}
@keyframes run {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}
@keyframes frenar {
  0% {
    transform: translate(-115%);
  }
  15% {
    transform: translate(-125%);
  }
  25% {
    transform: translate(-135%);
  }
  35% {
    transform: translate(-145%);
  }
  45% {
    transform: translate(-155%);
  }
  55% {
    transform: translate(-165%);
  }
  65% {
    transform: translate(-175%);
  }
  75% {
    transform: translate(-185%);
  }
  85% {
    transform: translate(-195%);
  }
  90% {
    transform: translate(-205%);
  }
  100% {
    transform: translate(-215%);
  }
}
@keyframes stop {
  0% {
    transform: translate(-215%);
  }
  10% {
    transform: translate(-216%);
  }
  20% {
    transform: translate(-217%);
  }
  30% {
    transform: translate(-218%);
  }
  40% {
    transform: translate(-219%);
  }
  50% {
    transform: translate(-220%);
  }
  60% {
    transform: translate(-221%);
  }
  80% {
    transform: translate(-222%);
  }
  100% {
    transform: translate(-223%);
  }
}
